@utility dialog {
  margin: var(--spacing-padding);
  padding: var(--spacing-padding);
  background: var(--color-surface);
  border-radius: var(--radius-lg);
  transition-behavior: allow-discrete;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease-out);

  &::backdrop {
    transition-timing-function: ease;
    transition-duration: 0.45s;
    transition-behavior: inherit;
    background: var(--color-overlay);

    @starting-style {
      opacity: 0%;
    }
  }

  @starting-style {
    opacity: 0%;
  }

  &:not(*:is([open], :popover-open, :open)) {
    opacity: 0;

    &::backdrop {
      opacity: 0%;
    }
  }
}
