.kbd,
.kbd-ghost,
.kbd-cta {
  position: relative;
  height: var(--spacing-io);
  display: inline-flex;
  flex-direction: row;
  padding-inline: var(--spacing-io-padding);
  align-items: center;
  gap: var(--spacing-io-gap);
  border-radius: var(--radius-io);
  font-weight: var(--font-weight-semibold);
  @variant * {
    @variant icon {
      width: 1em;
      height: 1em;
      stroke-width: var(--stroke-width-icon);
    }
  }
}

.kbd {
  color: var(--color-x-io);
  background: var(--color-card);
  border-top-style: ridge;
  border-bottom-style: solid;
  border-top-width: var(--border-width-md);
  border-bottom-width: var(--border-width-md);
  border-top-color: color-mix(in oklch, currentColor 10%, transparent);
  border-bottom-color: color-mix(in oklch, var(--color-pure) 25%, transparent);
}

.kbd-ghost {
}

.kbd-cta {
  color: var(--color-x-primary);
  background: var(--color-primary);
}
