@utility aspect-square {
  --badge-icon-opacity: 100%;
  --badge-padding: var(--spacing-io-nesting);
}

@utility badge-icon {
  transition-duration: inherit;
  color: var(--badge-icon-color);
  opacity: var(--badge-icon-opacity);
  width: var(--spacing-io-icon);
  height: var(--spacing-io-icon);
  stroke-width: var(--stroke-width-io-icon);
}

@utility badge-peer {
  @apply io-nest;
  max-height: var(--spacing-io-nested);
}

@utility badge-leading {
  @apply badge-peer;
}

@utility badge-trailing {
  @apply badge-peer;
}

@utility badge-base {
  /* props */
  --badge-padding: calc(var(--spacing-io-padding) * 0.6);
  --badge-color: ;
  --badge-background: ;
  --badge-border-color: ;
  --badge-border-style: ;
  --badge-icon-color: ;
  --badge-icon-opacity: ;
  /* base */
  color: var(--badge-color);
  background: var(--badge-background);
  border-color: var(--badge-color);
  padding-inline: var(--badge-padding);
  border-style: var(--border-style);
  border-width: var(--border-width-io);
  /* contain: layout; */
  position: relative;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  transition-property: color, background;
  transition-timing-function: ease-out;
  transition-duration: calc(var(--default-transition-duration) * 0.5);
  gap: calc(var(--spacing-io-gap) * 0.55);
  height: calc(var(--spacing-io) * 0.65);
  min-width: calc(var(--spacing-io) * 0.65);
  border-radius: calc(var(--radius-io) * 0.7);

  /* hover */
  &:hover {
    &:not(:active) {
      transition-duration: 0s;
    }
  }

  /* focused */
  &:focus-visible {
    outline-color: var(--color-primary);
    outline-width: var(--outline-width-io-focus);
  }

  /* active */
  &:active {
    transition-duration: calc(0.5 * var(--default-transition-duration));
    transform: var(--transform-io-active);
  }

  /* with leading content */
  &:has(> .badge-leading) {
    padding-left: var(--spacing-io-nesting);
  }

  /* with trailing content */
  &:has(> .badge-trailing) {
    padding-right: var(--spacing-io-nesting);
  }

  /* auto-icon */
  & > * {
    @variant icon {
      @apply badge-icon;
    }
  }
}

/* default badge */
@utility badge {
  @layer components {
    @apply badge-base;
    --badge-color: var(--color-on-io);
    --badge-background: --alpha(var(--color-io) / var(--opacity-io-background));
  }
}

/* call-to-action badge */
@utility badge-cta {
  @layer components {
    @apply badge-base;
    --badge-color: var(--color-on-cta);
    --badge-background: var(--color-cta);
  }
}
