/* overrides */

@utility aspect-square {
  --badge-padding: var(--spacing-io-nesting);
}

/* states */

@custom-variant badge-hover {
  &:hover:not(:active) {
    @slot;
  }
}

@custom-variant badge-press {
  &:active {
    @slot;
  }
}

@custom-variant badge-focus {
  &:focus-visible {
    @slot;
  }
}

/* parts */

@utility badge-base {
  --badge-padding: calc(0.35 * var(--spacing-io));
  --badge-color: ;
  --badge-background: ;
  --badge-border-color: ;
  --badge-border-style: ;
  --badge-icon-color: ;
  --badge-icon-opacity: ;
  color: var(--badge-color);
  background: var(--badge-background);
  border-color: var(--badge-color);
  padding-inline: var(--badge-padding);
  border-style: var(--border-style);
  border-width: var(--border-width-io);
  position: relative;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  transition-property: color, background;
  transition-timing-function: ease-out;
  transition-duration: calc(var(--default-transition-duration) * 0.5);
  gap: calc(var(--spacing-io) / 4);
  height: calc(0.75 * var(--spacing-io));
  min-width: calc(0.75 * var(--spacing-io));
  border-radius: calc(infinity* 1px);
  @variant badge-hover {
    transition-duration: 0s;
  }
  @variant badge-focus {
    outline-color: var(--color-primary);
    outline-width: var(--outline-width-io-focus);
  }
  @variant badge-press {
    transition-duration: calc(0.5 * var(--default-transition-duration));
    transform: var(--transform-io-active);
  }
  /* with leading content */
  &:has(> .badge-leading) {
    padding-left: var(--spacing-io-nesting);
  }

  /* with trailing content */
  &:has(> .badge-trailing) {
    padding-right: var(--spacing-io-nesting);
  }
  /* auto-icon */
  & > * {
    @variant icon {
      @apply badge-icon;
    }
  }
}

@utility badge-icon {
  transition-duration: inherit;
  color: var(--badge-icon-color);
  opacity: var(--badge-icon-opacity);
  width: var(--spacing-io-icon);
  height: var(--spacing-io-icon);
  stroke-width: var(--stroke-width-io-icon);
}

@utility badge-content {
  --spacing-io-nested: calc(var(--spacing-io) - 2 * var(--spacing-io-nesting));
  --radius-io-nested: calc(var(--radius-io) - var(--spacing-io-nesting));
  > * {
    --radius-io: var(--radius-io-nested);
    --spacing-io: var(--spacing-io-nested);
  }
}

@utility badge-leading {
  @apply badge-content;
}

@utility badge-trailing {
  @apply badge-content;
}

/* variants */

@utility badge {
  @layer components {
    @apply badge-base;
    --badge-background: var(--color-io);
    --badge-color: var(--color-on-io);
  }
}

@utility badge-cta {
  @layer components {
    @apply badge-base;
    --badge-color: var(--color-on-cta);
    --badge-background: var(--color-cta);
  }
}
