@layer base {
  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
  }

  :root {
    scroll-padding-top: var(--spacing-navbar-height);
    background: var(--background-color-base);
    color: var(--text-color-base);
    accent-color: var(--color-primary);
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
    &:has(:modal:open, [aria-modal='true']:open) {
      overflow: hidden;
      background: light-dark(white, black);
    }
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  ::backdrop {
    background-color: transparent;
  }

  ::-moz-selection {
    color: var(--color-primary);
    background: currentColor;
    text-shadow:
      0 -1px light-dark(black, white),
      1.5px 0 light-dark(black, white),
      2px 2px light-dark(black, white),
      0 1.5px light-dark(black, white),
      -1px 0 light-dark(black, white);
  }

  ::selection {
    color: var(--color-primary);
    background: currentColor;
    text-shadow:
      0 -1px light-dark(black, white),
      1.5px 0 light-dark(black, white),
      2px 2px light-dark(black, white),
      0 1.5px light-dark(black, white),
      -1px 0 light-dark(black, white);
  }
}
