:root {
	--scroll-y: 0;
	--scroll-x: 0;
	--scroll-y-px: calc(var(--scroll-y) * 1px);
	--scroll-x-px: calc(var(--scroll-x) * 1px);
}

a,
button {
	cursor: pointer;
}

:--disabled {
	cursor: default;
}

[type='search'] {
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		appearance: none;
	}
}

* {
	outline-width: 0;
	outline-offset: 0;
	outline-color: transparent;
	outline-style: solid;
}

legend {
	float: left;
}

::selection {
	color: var(--color-x-selection);
	background: var(--color-selection);
}

::-moz-selection {
	color: var(--color-x-selection);
	background: var(--color-selection);
}

dialog {
	max-height: 100%;
	max-width: 100%;

	&::backdrop {
		background: transparent;
	}
}
