@utility coarse-target {
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  min-width: var(--default-spacing-coarse-target, 48px);
  min-height: var(--default-spacing-coarse-target, 48px);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;

  @media (pointer: fine) {
    display: hidden;
  }
}

@utility coarse-target-* {
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  min-width: --value(--spacing- *, [length]);
  min-height: --value(--spacing- *, [length]);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;

  @media (pointer: fine) {
    display: hidden;
  }
}
