/* Code */

code {
}

/* Keyboard hotkey / combo */

:is(kbd, .key) {
	position: relative;
	height: var(--spacing-io);
	display: inline-flex;
	flex-direction: row;
	padding-inline: var(--spacing-io-padding);
	align-items: center;
	gap: var(--spacing-io-gap);
	border-radius: var(--radius-io);
	font-weight: var(--font-weight-semibold);
	> :variant(icon) {
		width: 1em;
		height: 1em;
		stroke-width: var(--stroke-width-icon);
	}
}
:is(kbd, .key):not(.ghost, .cta) {
	color: var(--color-x-io);
	background: var(--color-card);
	border-top-style: ridge;
	border-bottom-style: solid;
	border-top-width: var(--border-width-md);
	border-bottom-width: var(--border-width-md);
	border-top-color: color-mix(in oklch, currentColor 10%, transparent);
	border-bottom-color: color-mix(in oklch, var(--color-pure) 25%, transparent);
}
:is(kbd, .key).ghost {
}
:is(kbd, .key).cta {
	color: var(--color-x-primary);
	background: var(--color-primary);
}

/* Chip */

.chip {
	position: relative;
	height: var(--spacing-io);
}

/* Switch / tabs selector */

.switch,
.switch-bordered,
.switch-ghost {
	.switch-thumb {
	}
	.switch-item {
	}
}

/* Toggle */

.toggle,
.toggle-ghost {
	.toggle-thumb {
	}
}

/* Button */

.button,
.button-bordered,
.button-dashed,
.button-ghost,
.button-cta,
.button-navbar {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-overflow: ellipsis;
	align-items: center;
	gap: var(--spacing-io-gap);
	height: var(--spacing-io);
	vertical-align: top;
	padding-inline: var(--spacing-io-padding);
	border-radius: var(--radius-io);
	transition-duration: var(--transition-duration-medium);
	transition-property: all;
	transition-timing-function: var(--ease-out);
	&:hover:not(:active) {
		transition-duration: 0s;
	}
	&:focus-visible {
		outline-color: var(--color-primary);
		outline-width: var(--outline-width-focus);
	}
	&:active {
		scale: var(--scale-press);
	}
	&:not(.aspect-square) {
		& > :variant(icon) {
			opacity: var(--opacity-softer);
		}
		&:hover {
			& > :variant(icon) {
				opacity: var(--opacity-soft);
			}
		}
	}
	&::after,
	&::before {
		pointer-events: none;
		z-index: -1;
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		transition-property: all;
		transition-duration: inherit;
		transition-timing-function: inherit;
	}
	&:variant(current) {
		> :variant(icon) {
			opacity: var(--opacity-full);
		}
	}
	&.aspect-square {
		padding-inline: 0;
		justify-content: center;
	}
	> :variant(icon) {
		width: var(--spacing-icon);
		height: var(--spacing-icon);
		transition-duration: inherit;
		stroke-width: var(--stroke-width-icon);
	}
}
.button {
	color: var(--color-x-io);
	&::after {
		background: var(--color-io);
	}
	&:hover:not(:variant(current)) {
		color: var(--color-x-io-accent);
		&::after {
			background: var(--color-io-accent);
		}
	}
}
.button-bordered,
.button-dashed {
	color: var(--color-x-io);
	&::before {
		border-width: var(--border-width-io);
		border-style: solid;
		border-color: var(--color-io);
	}
	&::after {
		inset: var(--spacing-io-fx-inset);
		background: var(--color-io);
	}
	&:hover:not(:variant(current)) {
		color: var(--color-x-io-accent);
		&::before {
			border-color: transparent;
		}
		&::after {
			inset: 0;
			background: var(--color-io-accent);
		}
	}
}
.button-dashed {
	&::before {
		border-style: dashed;
	}
}
.button-ghost {
	&::after {
		inset: var(--spacing-io-fx-inset);
	}
	&:hover {
		color: var(--color-x-io-accent);
		&::after {
			inset: 0;
			background: var(--color-io-accent);
		}
	}
	&:variant(current) {
		color: var(--color-primary);
		&::after {
			inset: 0;
			background: var(--color-io-primary-accent);
		}
	}
}
.button-cta {
	/* @apply bg-primary text-x-primary hover:text-x-primary-accent hover:bg-primary-accent; */
}
.button-navbar {
	font-weight: var(--font-weight-semibold);
	color: var(--color-x-io);
	&::after {
		inset: var(--spacing-io-fx-inset);
	}
	&:hover:not(variant(current)) {
		color: var(--color-primary-accent);
		&::after {
			inset: 0;
			background: var(--color-io-primary-accent);
		}
	}
	&:variant(current) {
		color: var(--color-primary);
		&::after {
			inset: 0;
		}
		> :variant(icon) {
			animation: var(--animate-pulse);
		}
	}
}

/* Standalone input */

:not(.input-group, .input-group-bordered, .input-group-dashed, .input-group-ghost) {
	.input,
	.input-bordered,
	.input-dashed,
	.input-ghost {
		/* @apply rounded-io h-io min-h-io px-io-padding flex flex-row items-center [&.rounded-full]:[--radius-io:var(--radius-full)]; */
	}
	.input {
	}
	.input-bordered,
	.input-dashed {
	}
	.input-dashed {
	}
	/* Ghost variant */
	.input-ghost {
	}
}

/* Composed input (see: https://play.tailwindcss.com/P6pBbynBk5) */
.input-group,
.input-group-bordered,
.input-group-dashed,
.input-group-ghost {
	position: relative;
	border-radius: var(--radius-io);
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	transition-property: all;
	transition-duration: var(--transition-duration-medium);
	transition-timing-function: var(--ease-out);
	&.rounded-full {
		--radius-io: var(--radius-full);
	}
	&:hover:not(:has(.input:focus)) {
		transition-duration: 0s;
	}
	&:has(.input:focus) {
		outline-color: var(--color-primary);
		outline-width: var(--outline-width-focus);
		> :variant(icon) {
			opacity: var(--opacity-full);
		}
	}
	&:has(.input:active) {
		scale: var(--scale-press);
	}
	&:is(label) {
		cursor: text;
	}
	&::after,
	&::before {
		pointer-events: none;
		z-index: -1;
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		transition-property: all;
		transition-duration: inherit;
		transition-timing-function: inherit;
	}
	> :variant(icon) {
		pointer-events: none;
		opacity: var(--opacity-soft);
		width: var(--spacing-icon);
		height: var(--spacing-icon);
		&:first-child {
			margin-left: var(--spacing-io-padding);
		}
		&:last-child {
			margin-right: var(--spacing-io-padding);
		}
		+ .input-peer {
			margin-left: 0;
		}
		+ .input {
			padding-left: calc(var(--spacing-io-padding) - var(--spacing-io-nesting));
		}
	}
	.input {
		background: transparent;
		align-self: stretch;
		display: flex;
		flex-direction: row;
		gap: var(--spacing-io-gap);
		align-items: center;
		border-radius: inherit;
		padding-inline: var(--spacing-io-padding);
		+ .input-peer {
			margin-left: 0;
		}
	}
	.input-fill {
		cursor: text;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: inherit;
	}
	.input-peer {
		@apply nest-group;
		z-index: 1;
		position: relative;
		margin: var(--spacing-io-nesting);
		+ .input {
			margin-left: calc(var(--spacing-io-padding) - var(--spacing-io-nesting));
		}
		+ :variant(icon) {
			margin-left: calc(var(--spacing-io-padding) - var(--spacing-io-nesting));
		}
	}
	.input-affix {
		padding-inline: calc(0.5 * var(--spacing-io-padding));
		+ .input {
			padding-left: 0;
		}
	}
}
.input-group {
	color: var(--color-x-io);
	&::after {
		background: var(--color-io);
	}
	&:has(.input:hover) {
		&::after {
			background: var(--color-io-accent);
		}
		.input {
			color: var(--color-x-io-accent);
		}
	}
	&:has(.input:focus) {
		background: var(--color-base);
		.input {
			color: var(--color-x-base);
		}
		> :variant(icon) {
			color: var(--color-primary-accent);
		}
	}
}
.input-group-bordered,
.input-group-dashed {
	color: var(--color-x-io);
	&::after {
		inset: var(--spacing-io-fx-inset);
	}
	&::before {
		border-width: var(--border-width-io);
		border-style: solid;
		border-color: var(--color-io);
	}
	&:hover {
		&::after {
			inset: 0;
			background: var(--color-io);
		}
		&::before {
			border-color: transparent;
		}
		.input,
		> :variant(icon) {
			color: var(--color-x-io-accent);
		}
	}
	&:has(.input:focus) {
		&::after {
			inset: 0;
			background: var(--color-base);
		}
		.input {
			color: var(--color-x-base);
		}
		> :variant(icon) {
			color: var(--color-primary-accent);
		}
	}
}
.input-group-dashed {
	&::before {
		border-style: dashed;
	}
}
.input-group-ghost {
	color: var(--color-x-io);
	&::after {
		inset: var(--spacing-io-fx-inset);
		background: transparent;
	}
	&:hover {
		color: var(--color-x-io-accent);
		&::after {
			inset: 0;
			background: var(--color-io);
		}
	}
	&:has(.input:focus) {
		&::after {
			inset: 0;
			background: var(--color-base);
		}
		.input {
			color: var(--color-x-base);
		}
		> :variant(icon) {
			color: var(--color-primary-accent);
		}
	}
}
