/* granular theme presets */
@layer base {
  [data-success],
  [data-state='success'],
  :user-valid {
    --color-cta: var(--color-success);
    --color-on-cta: var(--color-on-success);
    --color-io: var(--color-success);
    --color-on-io: var(--color-on-success);
  }

  [data-warning],
  [data-state='warning'] {
    --color-cta: var(--color-warning);
    --color-on-cta: var(--color-on-warning);
    --color-io: var(--color-warning);
    --color-on-io: var(--color-on-warning);
  }

  [aria-invalid='true'],
  [data-error],
  [data-state='error'],
  :user-invalid {
    --color-cta: var(--color-error);
    --color-on-cta: var(--color-on-error);
    --color-io: var(--color-error);
    --color-on-io: var(--color-on-error);
  }

  [data-info],
  [data-state='info'] {
    --color-cta: var(--color-info);
    --color-on-cta: var(--color-on-info);
    --color-io: var(--color-info);
    --color-on-io: var(--color-on-info);
  }

  [data-themed='language'] {
    --color-cta: ;
    --color-on-cta: ;
    --color-io: ;
    --color-on-io: ;
  }

  [data-themed='library'] {
    --color-cta: ;
    --color-on-cta: ;
    --color-io: ;
    --color-on-io: ;
  }

  [data-themed='framework'] {
    --color-cta: ;
    --color-on-cta: ;
    --color-io: ;
    --color-on-io: ;
  }

  [data-themed='software'] {
    --color-cta: ;
    --color-on-cta: ;
    --color-io: ;
    --color-on-io: ;
  }

  [data-themed='runtime'] {
    --color-cta: ;
    --color-on-cta: ;
    --color-io: ;
    --color-on-io: ;
  }
}
