@property --pattern-color {
  syntax: '<color>';
  inherits: false;
  initial-value: --alpha(currentColor / 25%);
}

@property --pattern-thickness {
  syntax: '<length>';
  inherits: false;
  initial-value: 1px;
}

@property --pattern-spacing {
  syntax: '<length> | <length>+';
  inherits: false;
  initial-value: 20px;
}

@property --pattern-spread {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 35%;
}

@property --pattern-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@utility pattern-color-* {
  --pattern-color: --value(--color-*, --background-color-*, --text-color-*, [color]);
  --pattern-color: --alpha(--value(--color-*, --background-color-*, [color]) / calc(1% * --modifier(integer)));
  --pattern-color: --alpha(--value(--color-*, --background-color-*, [color]) / --modifier(--opacity-*, [percentage]));
}

@utility pattern-color2-* {
  --pattern-color: --value(--color-*, --background-color-*, --text-color-*, [color]);
  --pattern-color2: --alpha(--value(--color-*, --background-color-*, [color]) / calc(1% * --modifier(integer)));
  --pattern-color2: --alpha(--value(--color-*, --background-color-*, [color]) / --modifier(--opacity-*, [percentage]));
}

@utility pattern-thickness-* {
  --pattern-thickness: --value([length]);
  --pattern-thickness: calc(1px * --value(integer));
  --pattern-thickness2: --modifier([length]);
  --pattern-thickness2: calc(1px * --modifier(integer));
}

@utility pattern-spacing-* {
  --pattern-spacing: --value(--spacing-*, [length]);
}

@utility pattern-spread-* {
  --pattern-spread: --value(percentage, [percentage]);
}

@utility pattern-angle-* {
  --pattern-angle: --value([angle]);
}

@utility pattern-dots {
  background-size: var(--pattern-spacing) var(--pattern-spacing);
  background-repeat: repeat;
  background-image: radial-gradient(var(--pattern-color) calc(0.5 * var(--pattern-thickness)), 0%, transparent);
}

@utility pattern-crossdots {
  background-size: var(--pattern-spacing) var(--pattern-spacing);
  background-repeat: repeat;
  background-image:
    radial-gradient(var(--pattern-color) calc(0.5 * var(--pattern-thickness)), 0%, transparent),
    radial-gradient(
      circle at 0% 0%,
      var(--pattern-color2, var(--pattern-color)) calc(0.5 * var(--pattern-thickness2, var(--pattern-thickness))),
      0%,
      transparent
    ),
    radial-gradient(
      circle at 100% 100%,
      var(--pattern-color2, var(--pattern-color)) calc(0.5 * var(--pattern-thickness2, var(--pattern-thickness))),
      0%,
      transparent
    ),
    radial-gradient(
      circle at 0% 100%,
      var(--pattern-color2, var(--pattern-color)) calc(0.5 * var(--pattern-thickness2, var(--pattern-thickness))),
      0%,
      transparent
    ),
    radial-gradient(
      circle at 100% 0%,
      var(--pattern-color2, var(--pattern-color)) calc(0.5 * var(--pattern-thickness2, var(--pattern-thickness))),
      0%,
      transparent
    );
}

@utility pattern-lines {
  background-image: repeating-linear-gradient(
    var(--pattern-angle),
    var(--pattern-color) 0% var(--pattern-thickness),
    transparent var(--pattern-thickness) var(--pattern-spacing)
  );
}

@utility pattern-crosslines {
  background-image:
    repeating-linear-gradient(
      var(--pattern-angle),
      var(--pattern-color) 0% var(--pattern-thickness),
      transparent var(--pattern-thickness) var(--pattern-spacing)
    ),
    repeating-linear-gradient(
      calc(90deg + var(--pattern-angle)),
      var(--pattern-color2, var(--pattern-color)) 0% var(--pattern-thickness2, var(--pattern-thickness)),
      transparent var(--pattern-thickness2, var(--pattern-thickness)) var(--pattern-spacing)
    );
}

@utility pattern-squares {
  background-image: conic-gradient(
    from -90deg at var(--pattern-thickness) var(--pattern-thickness),
    var(--pattern-color) 90deg,
    0%,
    transparent
  );
  background-size: var(--pattern-spacing) var(--pattern-spacing);
  background-repeat: repeat;
}

@utility pattern-crosses {
  --pattern-spread-half: calc(0.5 * var(--pattern-spread));
  background-image:
    conic-gradient(
      from -90deg at var(--pattern-thickness) var(--pattern-spread-half),
      var(--pattern-color) 90deg,
      0%,
      transparent
    ),
    conic-gradient(
      from -90deg at var(--pattern-spread-half) var(--pattern-thickness),
      var(--pattern-color) 90deg,
      0%,
      transparent
    ),
    conic-gradient(
      from 0deg at calc(100% - var(--pattern-spread-half) + var(--pattern-thickness)) var(--pattern-thickness),
      var(--pattern-color) 90deg,
      0%,
      transparent
    ),
    conic-gradient(
      from 180deg at var(--pattern-thickness) calc(100% - var(--pattern-spread-half) + var(--pattern-thickness)),
      var(--pattern-color) 90deg,
      0%,
      transparent
    );
  background-size: var(--pattern-spacing) var(--pattern-spacing);
  background-repeat: repeat;
}
