/* @utility link-base {
  @layer components {
  }
}

@utility link {
  @layer components {
  }
}

@utility link-cta {
  @layer components {
  }
} */

@layer components {
  .link,
  .link-cta {
    /* props */
    --link-color: ;
    --link-background: ;
    --link-icon-color: ;
    --link-icon-opacity: ;
    /* base */
    text-decoration: none;
    /* icon */
    .link-icon {
    }
    > * {
      @variant icon {
      }
    }
  }
}

@utility prose {
  ol,
  ul {
    ol,
    ul {
    }

    li {
    }
  }
}
