@theme {
	/* Colors */
	--color-pure: light-dark(oklch(1 0 0), oklch(0 0 0));
	--color-base: light-dark(oklch(0.79 0.02 247.99), oklch(0.18 0 0));
	--color-base-accent: light-dark(oklch(0.94 0.015 248), oklch(0.18 0.01 76));
	--color-primary: light-dark(#1e1e1e, oklch(0.58 0.2 275));
	--color-primary-accent: light-dark(#1e1e1e, oklch(0.6 0.25 279));
	--color-io: light-dark(#1e1e1e, oklch(0.5 0.01 50 / var(--opacity-io)));
	--color-io-accent: light-dark(#1e1e1e, oklch(0.55 0.02 45 / var(--opacity-io-accent)));
	--color-io-primary: light-dark(#1e1e1e, color-mix(in oklch, var(--color-primary) var(--opacity-io), transparent));
	--color-io-primary-accent: light-dark(#1e1e1e, color-mix(in oklch, var(--color-primary-accent) var(--opacity-io-accent), transparent));
	--color-info: light-dark(#1e1e1e, #1e1e1e);
	--color-info-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-success: light-dark(#1e1e1e, #1e1e1e);
	--color-success-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-warning: light-dark(#1e1e1e, #1e1e1e);
	--color-warning-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-notice: light-dark(#1e1e1e, #1e1e1e);
	--color-notice-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-error: light-dark(#1e1e1e, #1e1e1e);
	--color-error-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-selection: light-dark(pink, pink);
	--color-card: light-dark(#1e1e1e, #1e1e1e);
	--color-popover: light-dark(white, black);
	--color-tooltip: light-dark(white, black);
	--color-backdrop: light-dark(rgba(0, 0, 0, 0.1), color-mix(in oklch, var(--color-base) var(--opacity-backdrop), transparent));
	--color-x-pure: light-dark(oklch(0 0 0), oklch(1 0 0));
	--color-x-base: light-dark(oklch(0.21 0.0059 64.02), oklch(0.77 0.01 83.27));
	--color-x-base-accent: light-dark(oklch(0.21 0.0059 64.02), oklch(0.82 0.01 83.27));
	--color-x-primary: light-dark(#1e1e1e, #1e1e1e);
	--color-x-primary-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-x-io: light-dark(#1e1e1e, oklch(0.77 0.01 80));
	--color-x-io-accent: light-dark(#1e1e1e, oklch(0.77 0.01 90));
	--color-x-info: light-dark(#1e1e1e, #1e1e1e);
	--color-x-info-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-x-success: light-dark(#1e1e1e, #1e1e1e);
	--color-x-success-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-x-warning: light-dark(#1e1e1e, #1e1e1e);
	--color-x-warning-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-x-notice: light-dark(#1e1e1e, #1e1e1e);
	--color-x-notice-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-x-error: light-dark(#1e1e1e, #1e1e1e);
	--color-x-error-accent: light-dark(#1e1e1e, #1e1e1e);
	--color-x-selection: light-dark(black, white);
	/* Radii */
	--radius-2xs: 0.125rem;
	--radius-xs: 0.25rem;
	--radius-sm: 0.425rem;
	--radius-md: 0.625rem;
	--radius-lg: 1.25rem;
	--radius-xl: 2rem;
	--radius-full: calc(infinity * 1px);
	--radius-io: var(--radius-md);
	--radius-card: var(--radius-lg);
	--radius-tooltip: var(--radius-sm);
	/* Sizes (block and inline) */
	--spacing-0: 0px;
	--spacing-2xs: 0.35rem;
	--spacing-xs: 0.5rem;
	--spacing-sm: 0.75rem;
	--spacing-md: 1.25rem;
	--spacing-lg: 2.35rem;
	--spacing-xl: 4.5rem;
	--spacing-2xl: 8rem;
	--spacing-base-padding: 2em;
	--spacing-base-gap: 1em;
	--spacing-io: 3em;
	--spacing-io-padding: 1em;
	--spacing-io-gap: 0.5em;
	--spacing-io-icon: 1.25em;
	--spacing-io-nesting: 0.35em;
	--spacing-io-fx-inset: 0.25em;
	--spacing-menu-padding: 0.25em;
	--spacing-menu-gap: var(--outline-width-focus);
	--spacing-icon: 1.25em;
	--spacing-navbar-height: calc(0.825 * (var(--spacing-base-padding) + var(--spacing-base-gap) + var(--spacing-io)));
	--spacing-main-height: calc(100svh - var(--spacing-navbar-height));
	--spacing-prose: 46rem;
	--spacing-main-width: 76rem;
	/* Breakpoints */
	--breakpoint-lg: 64rem;
	/* Fonts */
	--font-family-main: 'Figtree', sans-serif;
	--font-family-misc: 'Fraunces', serif;
	--font-family-code: 'DM Mono', monospace;
	--default-font-family: var(--font-mono);
	--default-mono-font-family: var(--font-mono);
	/* Font-sizes */
	--text-xs: 0.75rem;
	--text-sm: 0.825rem;
	--text-md: 1rem;
	--text-lg: 1.2rem; /* h6 */
	--text-xl: 1.44rem; /* h5 */
	--text-2xl: 1.728rem; /* h4 */
	--text-3xl: 2.074rem; /* h3 */
	--text-4xl: 2.488rem; /* h2 */
	--text-5xl: 2.986rem; /* h1 */
	--text-big: 4.299rem;
	--text-biggest: 5.159rem;
	/* Leadings based on font sizes */
	--text-xs--line-height: 1.675;
	--text-xs--line-height: 1.65;
	--text-sm--line-height: 1.625;
	--text-md--line-height: 1.6;
	--text-lg--line-height: 1.525;
	--text-xl--line-height: 1.45;
	--text-2xl--line-height: 1.375;
	--text-3xl--line-height: 1.3;
	--text-4xl--line-height: 1.225;
	--text-5xl--line-height: 1.15;
	--text-big--line-height: 1.15;
	--text-biggest--line-height: 1.15;
	/* Trackings */
	--letter-spacing-tighter: -0.05em;
	--letter-spacing-tight: -0.025em;
	--letter-spacing-normal: 0em;
	--letter-spacing-wide: 0.025em;
	--letter-spacing-wider: 0.05em;
	--letter-spacing-widest: 0.1em;
	/* Leadings */
	--line-height-none: 1;
	--line-height-xs: 1.25;
	--line-height-sm: 1.375;
	--line-height-md: 1.5;
	--line-height-lg: 1.625;
	--line-height-lg: 2;
	/* Font weights */
	--font-weight-thin: 250;
	--font-weight-normal: 375;
	--font-weight-semibold: 500;
	--font-weight-bold: 625;
	--font-weight-black: 750;
	/* Blur effects */
	--blur-xs: 3px;
	--blur-sm: 6px;
	--blur-md: 12px;
	--blur-lg: 24px;
	--blur-xl: 48px;
	--blur-io: var(--blur-sm);
	/* Z-indices */
	--z-index-front: 99;
	--z-index-frontmost: calc(infinity);
	/* Opacities */
	--opacity-0: 0;
	--opacity-softest: 20%;
	--opacity-softer: 35%;
	--opacity-soft: 65%;
	--opacity-full: 100%;
	--opacity-io: 12%;
	--opacity-io-accent: 16%;
	--opacity-backdrop: 85%;
	/* Border widths */
	--border-width-0: 0px;
	--border-width-sm: 0.5px;
	--border-width-md: 1.5px;
	--border-width-lg: 3px;
	--border-width-io: var(--border-width-md);
	--border-width-icon: 2.25px;
	--border-width-focus: var(--border-width-lg);
	--default-border-width: var(--border-width-md);
	/* Stroke widths based on border widths */
	--stroke-width-0: 0px;
	--stroke-width-sm: var(--border-width-sm);
	--stroke-width-md: var(--border-width-md);
	--stroke-width-lg: var(--border-width-lg);
	--stroke-width-icon: var(--border-width-icon);
	--stroke-width-focus: var(--border-width-focus);
	--default-stroke-width: var(--stroke-width-md);
	/* Outline widths based on border widths */
	--outline-width-0: 0px;
	--outline-width-sm: var(--border-width-sm);
	--outline-width-md: var(--border-width-md);
	--outline-width-lg: var(--border-width-lg);
	--outline-width-focus: var(--border-width-focus);
	/* Scaling */
	--scale-press: 0.96;
	/* Transition easings */
	--ease-linear: linear;
	--ease-in: cubic-bezier(0.7, 0, 0.84, 0);
	--ease-out: cubic-bezier(0.25, 1, 0.5, 1);
	--ease-in-out: cubic-bezier(0.87, 0, 0.13, 1);
	--default-ease: var(--transition-timing-function-in-out);
	/* Transition durations */
	--transition-duration-xfast: 50ms;
	--transition-duration-fast: 125ms;
	--transition-duration-medium: 300ms;
	--transition-duration-slow: 600ms;
	--transition-duration-xslow: 1200ms;
	--default-transition-duration: var(--transition-duration-fast);
	/* Keyframes */
	@keyframes pulse {
		50% {
			opacity: var(--opacity-softest);
		}
	}
	/* Animation presets */
	--animate-pulse: pulse 2s ease-in-out infinite;
}
