@utility bg-dots {
	--bg-dots-size: 2px;
	--bg-dots-spacing: 24px;
	@apply bg-radial from-current from-[length:calc(0.5*var(--bg-dots-size))] to-transparent to-[length:calc(0.5*var(--bg-dots-size))] bg-[length:var(--bg-dots-spacing)_var(--bg-dots-spacing)] bg-repeat;
}

@utility bg-tiles {
	@apply from-current;
}

@utility big {
	--spacing-io: 5.5em;
	--radius-io: var(--radius-lg);
	--spacing-io-padding: 2em;
	--spacing-io-nesting: 1em;
}

@utility compact {
	--spacing-io: 2.25em;
	--radius-io: var(--radius-sm);
	--spacing-io-padding: 0.75em;
	--spacing-io-nesting: 0.125em;
}

@utility nest-group {
	--_radius-io: calc(var(--radius-io) - 0.75 * var(--spacing-io-nesting));
	--_spacing-io: calc(var(--spacing-io) - 2 * var(--spacing-io-nesting));
	--_spacing-io-padding: calc(var(--spacing-io-padding) - 0.5 * var(--spacing-io-nesting));
	> * {
		--radius-io: var(--_radius-io);
		--spacing-io: var(--_spacing-io);
		--spacing-io-padding: var(--_spacing-io-padding);
	}
}
